@charset "UTF-8";

/* 기본색 */
:root {
    --main-color: #5D9AB2;
    --accent-color:#BF6A7A;
    --dark-color:#2B5566;
    --text-bright-color:#fff;
    --icon-color:#fff;
    --icon-bk-color:#ddd;
    --large-width:1000px;
}

/* 기본설저이 페이지 전체 */
body {
    font-family: 'Nanum Brush Script', cursive;
    margin: 0;
}

/* 컨텐츠A: 히어로 이미지 */
.conA {
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(img/과일.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-bright-color);
}

.conA h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12vw;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
}
.conA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

@media (min-width: 768px) {
    .conA h1 {
        font-size: 123px;
    }

    .conA p {
        font-size:24px
    }
}

.conA img{
    width: 20%;
}

.conA a {
    display:inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 3px solid currentColor;
    border-radius: 6px;
    background-color: #BF6A7A;
    /* background-color: var(--accent-color); */
    color: #fff;
    /* color: var(--text-bright-color); */
    font-size: 14px;
    text-decoration: none;
}

.conA a:hover {
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

@media (min-width: 768px) {
    .conA h1 {
        font-size: 115px;
    }
    .conA p {
        font-size: 24px;
    }
}

/* 컨텐츠B: 개요(아이콘+글자) */
.conB .text{
    text-align: center;
}

.conB h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.conB p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conB a{
    /* color: #5D9AB2; */
    color: var(--main-color);
    text-decoration: none;
}

.conB a:hover{
    text-decoration: underline;
}
.conB .icon{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    /* font-size의 상대적인 배수값 -> Em */
    /* em 의 개념은 기준이 되는 값을 지정된 배수로 변환해 표현한 크기를 의미합니다. 여기서 기준이 되는 값이란 현재 스타일 지정 요소의 font-size 값을 의미합니다. */
    /* http://triki.net/prgm/3250 */
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color:var(--icon-bk-color);
    color: var(--icon-color);
}

@media (min-width: 768px) {
    .conB .container{
        display:flex;
        max-width: var(--large-width);
        /* 좌우 정렬 */
        margin: 0px auto;
    }
    .conB .text{
        /* 부모요소기준으로 몇대몇의 비율로 정렬하지정하는것 */
        flex:1
    }
}

.conB .container{
    padding-top: 80px;
    padding-bottom: 20px;
}

.conB .text{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

/* conC:개요(이미지+글자) */
.conC{
    background-color: #5D9AB2;
    color: var(--text-bright-color);
}


.conC h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conC p{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity:0.8;
}

.conC a{
    display:inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 3px solid currentColor;
    border-radius: 6px;
    background-color: var(--accent-color);
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.conC a:hover{
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
}

.conC .photo{
    min-height: 200px;
    background-image: url(img/오피스.jpeg);
    background-position: center;
    background-size: cover;
}
.conC .text{
    padding: 20px;
}
@media (min-width: 768px) {
    .conC .container{
        display:flex;
        /* 윗부분과 비율맞춤 */
        max-width: var(--large-width);
        margin: 0 auto;
    }
    .conC .photo{
        flex:3;
    }
    .conC .text{
        flex:2;
        padding:50px;
    }
}
/* contents:D */
.conD {
    background-color: #8F6A7A;
}
.conD .container{
    padding-top: 2px;
}
.conD text{
    padding: 20px;
}
.conD h2{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
}
.conD p{
    margin-top:0px;
    margin-bottom: 20px;
    font-size:14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conD a{
    display:inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 3px solid currentColor;
    border-radius: 6px;
    font-size: 14px;
    color: var(--text-bright-color);
    background-color: var(--accent-color);
    text-decoration: none;
    box-shadow: 0 0 0 1px #888;
}
.conD a:hover{
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
}
.conD .photo{
    min-height: 200px;
    background-image: url(img/마트로시카.jpeg);
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .conD .container{
        display:flex;
        flex-direction: row-reverse;
        max-width: var(--large-width);
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .conD .photo{
        flex: 0 0 400px;
    }
    .conD .text{
        flex: 1;
        padding: 50px;
    }
}
/* 푸터 */
footer{
    color: var(--text-bright-color);
    background-color: var(--dark-color);
}
footer .container{
    padding: 40px 20px;
}
@media (min-width: 768px) {
    footer .container{
        display:flex;
        flex-wrap: wrap;
        /* 최대넓이맞추기 */
        max-width: var(--large-width);
        margin: 0 auto;
    }
    .footA {
        flex: 0 0 40%;
    }
    .footB {
        flex:0 0 60%
    }
    .footC {
        flex: 0 0 100%;
    }
}

/* 푸터A:사이트정보 */
.footA{
    margin-bottom: 30px;
}

.footA h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 0.2em;
}
.footA p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.footA a{
    color: inherit;
    text-decoration: none;
}

/* 푸터B:푸터메뉴 */
.footB div{
    margin-bottom: 20px;
}

.footB h3{
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: solid 1px currentColor;
    font-size: 14px;
}

.footB ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footB a{
    display:block;
    padding:5px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.footB a:hover{
    background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    .footB{
        display:flex
    }
    .footB div{
        flex: 1;
    }

    .footB div:not(:first-child) {
        margin-left: 40px;
    }
}
/* footC */
.footC{
    font-size: 12px;
    text-align: center;
}

/* footD */
.footD{
    margin-top: 20px;
}

.footD ul{
    margin: 0;
    padding:0;
    list-style: none;
    display:flex;
    /* margin-top: 20px; */
}
.footD a{
    display:block;
    padding: 5px;
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    padding: 0;
    border: 1px solid currentColor;
    width:2em;
    line-height:2em;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
}

.footD a:hover{
    background-color: rgba(0,0,0,0.3);
}
/* 해더 */
header{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}
/* 해더A:사이트이름 */
.headA{
    display:inline-block;
    line-height: 70px;
    padding: 0 20px;
    background-color: var(--main-color);
    color: var(--text-bright-color);
    font-size: 24px;
    text-decoration: none;
}
/* 해더B:네비게이셔메뉴 */
.headB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a{
    display:block;
    padding: 15px;
    color: inherit;
    text-decoration: none;
}
.headB a:hover{
    background-color: rgba(0,0,0,0.3);
}
@media (min-width: 768px) {
    header .container{
        display:flex;
        align-items: center;
        justify-content: space-between;
        /* 최대넓이 */
        max-width: var(--large-width);
        margin: 0 auto;
    }
    .headB ul{
        display: flex;
    }
}
/* 해더C: 토글버튼 */
@media (min-width: 768px) {
    /* 큰화면 전용 */
    .headC{
        display:none;
    }
    .headB{
        display: block !important;
    }
}
@media (max-width: 767px) {
    header .container-small{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .headC{
        margin-right: 10px;
        padding: 0;
        border: none;
        outline: none;
        background-color: none;
        font-size: 28px;
        opacity:0.5;
        cursor: pointer;
    }
    .headC:hover{
        opacity: 0.3;
    }
    .headB{
        display:none;
    }
}