@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600&family=Readex+Pro&family=Redacted+Script&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600&family=Readex+Pro&family=Redacted+Script&family=Sora&display=swap');
:root{ 
    --main-color: #5D9AB2;
    --accent-color:#BF6A7A;
    --dark-color: #2B5566;
    --text-bright-color:#fff;
    --icon-color:#fff;
    --icon-bk-color:#ddd;
    --large-width:1000px;
    --dark-main-color:black;
    --gray-color:#ddd;
    --middle-width:800px;
}
/* footer바닥에 깔아주기 */
html,body {
    height:100%;
  }
footer {
    /* position: absolute; ->이건안됨
    bottom: 0;
    width: 100%; */
    /* footer바닥에 깔아주기 */
    position: sticky; 
    top: 100vh;
}
/* 기본설정:폰트크기 */
@media (max-width:599px) {
    :root {
        font-size: 14px;
    }
}
@media (min-width:600px) and (max-width:799px) {
    :root {
        font-size: 16px;
    }
}
@media (min-width:800px) {
    :root {
        font-size: 18px;
    }
}
body {
    font-family: 'Readex Pro', sans-serif;
    margin: 0;
    font-size: 16px;
  
}

/* 컨텐츠A:히어로 이미지 */
.conA {
    /* 글자중앙으로 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(../연습/img/과일.jpeg);
    background-size: cover;
    background-position: center;
    height:100vh;
    min-height: 450px;
    color: var(--text-bright-color);
}
.conA h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size:15vw; /* 1vw=3.2px, 48px=15vw */
    font-family: 'Poppins', sans-serif;
    /* letter-spacing은글자의 오른쪽여백에넣음 마지막글자의 오른쪽에도 들어가므로 그냥사용하면 왼쪽과 오른쪽균형이깨져서 중앙에서 약간 어긋난위치로감 그러므로 왼쪽으로도 0.2em해줘서 균형맞춤 */
    letter-spacing: 0.2em;
    margin-left: 0.2em;

}
.conA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}
.conA img{
    width: 20%;
}
.conA a{
    display:inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border:3px solid currentColor;
    background-color: var(--accent-color);
    border-radius: 6px;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}
.conA a:hover{
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
    cursor: pointer;
}
@media (min-width: 820px) {
    .conA h1 {
        font-size: 115px;
    }
    .conA p{
        font-size: 24px;
    }
}
/* 컨텐츠:B:개요(아이콘+글자) */
.conB .container{
    padding-top: 80px;
    padding-bottom: 20px;
}

.conB h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}
.conB p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}
.conB a{
    text-decoration: none;
    color: var(--main-color);
}
.conB a:hover{
    text-decoration: underline;
}
.conB .icon{
    display:inline-block;
    font-size: 40px;
    /* 원만들기 */
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
    background-color: var(--icon-bk-color);
    margin-bottom: 20px;
    color: var(--icon-color);
}
.conB .text{
    text-align: center;
    padding: 0 20px 60px 20px;
}
@media (min-width: 820px) {
    .conB .container {
        display:flex;
        /* 최대넓이 */
        max-width: var(--large-width);
        margin: 0 auto;
       
    }
    .conB .text{
        flex: 1;
    }
}

/* 컨텐츠C:개요 */
.conC {
    background-color: var(--main-color);
    color: var(--text-bright-color);
}
.conC .photo{
    min-height: 200px;
    background-image: url(../연습/img/마트로시카.jpeg);
    background-size: auto;
    background-position: center;

}
.conC .text{
    padding: 20px;
}
.conC h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}
.conC p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}
.conC a{
    display:inline-block;
    margin-top: 20px;
    border: 3px solid currentColor;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 14px;
    background-color: var(--accent-color);
    color: var(--text-bright-color);
    text-decoration: none;
}
.conC a:hover{
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
}
@media (min-width: 820px) {
    .conC .container {
        display:flex;
        max-width: var(--large-width);
        margin: 0 auto;
        /* min-width: 200px; */
    }
    .conC .photo {
        flex: 3;
        background-size: cover;
        background-position: center;
    }
    .conC .text {
        flex: 2;
        padding: 50px;
    }
}
/* 컨텐츠D */
.conD .container {
    padding-top: 2px;
}
.conD .text{
    padding: 20px;
}
.conD h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}
.conD p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}
.conD a{
    display:inline-block;
    border: 3px solid currentColor;
    padding: 10px 30px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: var(--accent-color);
    color:var(--text-bright-color);
    text-decoration:none;
    font-size: 14px;
    box-shadow: 0 0 0 1px #888;
}
.conD a:hover{
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
}
.conD .photo{
    background-image: url(../연습/img/술선반.jpeg);
    min-height: 200px;
    background-position: center;
    background-size: cover;
}

@media (min-width: 820px) {
    .conD .container {
        display:flex;
        flex-direction: row-reverse;
        max-width: var(--large-width);
        margin: 0 auto;
        padding: 40px 0;
    }
    .conD .photo{
        /* 첫번째와 두번째는 박스의 너비와관련된것이므로 0으로하면 400으로고정 */
        flex: 0 0 400px;
    }
    .conD .text{
        flex:1;
        padding:50px;
    }
}
/* 푸터A:사이트정보 */
footer {
    color: var(--text-bright-color);
    background-color: var(--dark-main-color);

}
footer .container{
    padding: 40px 20px;
}
@media (min-width: 820px) {
    footer .container {
        display:flex;
        flex-wrap: wrap;
        max-width: var(--large-width);
        margin: 0 auto;

    }
    .footA {
        flex: 0 0 40%;
    }
    .footB {
        flex: 0 0 60%;
    }
    .footC {
        flex: 0 0 100%;
    }
}
.footA {
    margin-bottom: 30px;
}
.footA h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 0.2em;
}
.footA p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.footA a{
    text-decoration: none;
    color:inherit
}
/* 푸터B:푸터 메뉴 */
.footB div{
    margin-bottom: 20px;
}
.footB h3{
    margin-top:0;
    margin-bottom: 10px;
    border-bottom: solid 1px currentColor;
    font-size: 14px;
}
.footB ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footB a{
    display: block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
    font-size: 12px;
}
.footB a:hover{
    background-color: rgba(240,100,100,0.3);
}
@media (min-width: 820px) {
  
    .footB{
        display:flex;
    }
    .footB div{
        flex: 1;
    }
    /* 줄간격만들기 */
    .footB div:not(:first-child) {
        margin-left: 40px;
    }
}
/* 푸터C: 저작권 */
.footC {
    font-size: 12px;
    text-align: center;
}
/* 푸터D:아이콘 */
.footD {
    margin-top: 20px;
}
.footD ul{
    display:flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footD a{
    display:block;
    padding:5px;
    font-size: 16px;
    text-align: none;
    margin-right: 8px;
    /* 원 */
    border: 1px solid currentColor;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
 
}
.footD a:hover{
    border-color: rgba(0,0,0,0.3);
}
/* 해더 */
header {
    position: absolute;
    top: 0;
    left: 0;
    /* 숫자가 클수록 맨위로 중첩 */
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
}

/* hero이미지 지우기 */
.nohero header{
    position: static;
    border-bottom: var(--gray-color);
}
/* 해더A:사이트이름 */
.headA {
    display:inline-block;
    padding:0 20px;
    line-height: 70px;
    background-color: var(--main-color);
    color: var(--text-bright-color);
    text-decoration: none;
    font-size: 24px;
}
/* 해더B:네비바 */
.headB ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.headB a{
    display:block;
    padding:15px;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
}
.headB a:hover{
    background-color: rgba(0,0,0,0.3);
    cursor:pointer;
}
@media (min-width: 820px) {
    header .container{
        display:flex;
        justify-content:space-between;
        align-items: center;
   
        max-width: var(--large-width);
        margin: 0 auto;
    }
    header ul {
        display: flex;
    }
}

/* 콘텐츠 페이지:기사 */

.post .container{
    padding: 30px 10px;

}
.post h1{
    font-size: 2rem;
    /* 왼쪽막대기만들기 */
    padding-left: 0.5rem;
    border-left: solid 0.75rem var(--accent-color);
}
.post p{
    font-size: 1rem;
    line-height: 2;
}
.post img{
    max-width: var(--large-width);
}
@media (min-width: 820px) {
    .post .container{
        max-width: var(--middle-width);
        margin: 0 auto;
    }
}
/* 콘텐츠페이지: 빵부스러기 리스트 */
.bread ol{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.bread a{
    display: block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
    font-size: 0.875rem;
}
.bread a:hover{
    background-color: rgba(240,100,100,0.3);
}
.bread a::after {
    margin-left: 10px;
    /* >만들기 */
    content: '\f054';
    font-family: 'FontAwesome';
    opacity: 0.3;
}